*.dll
*.gch
*.exe
*.pdb
*.vscode
*.a
*.o

build/
vendor/assimp*
vendor/sdl2*
vendor/glm*
vendor/imgui*
vendor/tracy*
vendor/msdf-atlas-gen*
vendor/box2d*
vendor/entt*
vendor/yaml*

*.nmscn

# cmake stuff
CMakeFiles/
CMakeCache.txt
Makefile